* {
	margin: 0;
	padding: 0;
}

body {
	margin: 1.5em;
}

dt {
	font-weight: 700;
	margin: 1.5em 0 0.5em 0;
}

dd.current {
	border: 1px solid #999;
	position: relative;
}

dd:first-of-type {
	background: url('background.gif');
	height: 58px;
	width: 58px;
}

dd:nth-of-type(2) {
	background: url('background@2x.png');
	height: 116px;
	width: 116px;
}

span {
	color: #1fa7eb;
	font-family: Arial;
	font-weight: 700;
	position: absolute;
	text-transform: uppercase;
}

dd:first-of-type span {
	font-size: 9px;
	transform: rotate(45deg) translate(21px, 6px);
}

dd:nth-of-type(2) span {
	font-size: 18px;
	transform: rotate(45deg) translate(42px, 12px);
}

img {
	border: 1px solid #999;
}
