/* Online image */
.online { background-image: url("./icon_user_online.png"); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi) {

	.online {
		background-image: url("./icon_user_online@2x.png");
		background-size: 58px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 700px),
	only screen and (-o-min-device-pixel-ratio: 13/10) and (max-width: 700px),
	only screen and (min-resolution: 120dpi) and (max-width: 700px) {

	.online {
		background-size: 40px;
	}
}
